:root {
	--bg-color: #f3f3f3;
	--border-color: #C6C6C6;
	--txt-color: #67697C;
	--title-color: #588fe7;
	--btn-active-color: #65a0ff;
	--err-color: #d82929;
}
* {
	box-sizing: border-box;
	margin:0;
	padding:0;
}
html, body {
	background: var(--bg-color);
	width: 100%;
}
main, header {
	padding: 0 10px;
}
header {
	position: fixed;
	left: 50%;
	top: 20%;
	transform: translate(-50%, -20%);
}
h1, h2, p, input {
	font-family: 'Roboto Condensed', sans-serif;
}
h1 {
	font-size: 50px;
	font-weight: 700;
	color: var(--title-color);
}
h2, p {
	font-weight: lighter;
	color: var(--txt-color);
	font-size: 25px;
}
p {
	margin: 10px 0;
}
input {
	padding: 5px;
	font-size: 25px;
	font-weight: lighter;
	border: 1px solid var(--border-color);
}
input[type="text"] {
	width: 100%;
	margin-top: 20px;
}
input[type="submit"] {
	color: white;
	background-color: var(--title-color);
	margin-top: 5px;
}
input[type="submit"]:active {
	background-color: var(--btn-active-color);
}
.background {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
}
.output {
	position: fixed;
	bottom: 0;
	left: 50%;
	margin-bottom: 40px;
	border-radius: 5px;
	transform: translate(-50%, 0);
	display: flex;
	flex-direction: column;
}
.output-weather {
	background: var(--bg-color);
}
.icon {
	height: 60px;
	position: fixed;
	bottom: 10px;
	z-index: 3;
}
.icon:active {
	height: 58px;
}
.gh-icon {
	right: 10px;
}
.help-icon {
	left: 10px;
}
.help-text {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--bg-color);
}
.err-msg {
	padding: 0 10px;
	background: var(--err-color);
	color: white;
	font-weight: 500;
}
.loading {
	display:none;
}

@media screen and (min-width: 768px)
{
	main, header {
		padding: 0px;
	}
	h1 {
		font-size: 70px;
	}
	h2 {
		font-size: 40px;
	}
	p {
		font-size: 30px;
	}
	input {
		font-size: 30px;
	}
}
